* {
    margin: 0;
    padding: 0;
    font-size: 70px;
    font-family: "Orbitron", sans-serif;
    text-align: center;
}

section {
    height: 700px;
}

.hour,
.minute,
.second {
    width: 150px !important;
    height: 150px !important;
    padding: 5px !important;
}

.separator {
    padding-bottom: 50px;
}

span {
    font-size: 15px;
}

.days {
    width: 600px;
    font-weight: 500;
}

.day {
    font-weight: 900;
    font-size: 20px;
}
.ampm{
    font-size: 25px;
    font-weight: 500;
}
.dark{
    background-color: rgb(73, 76, 105);
    color: white;
}